*{
    padding: 0px;
    margin: 0px;
}
.header-control{
    background-color:#1876f2;
    width:100%;
    height:90px;

}
.control-align{
    width:980px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.img-control{
    float:left;
}
.img-control img{
    width: 200px;
    height: 50px;
    margin-top: 3px;
}
.login{
    float:right;
    font-family: arial;
    font-size: 13px;
    color: white;
    margin-top: 20px;
}
.login p{
    margin-left: 10px;
}
.inputtxt{
    width:120px;
    height:20px;
    margin-left: 10px;

}
.btn{
    background-color: #fff;
    font-weight: 600;
    width: 70px;
    color:#0E385F;
    font-family: Arial;
    padding: 5px;
    border:none;
    border-radius: 4px;
    margin-left: 02px;
    margin-left: 05px;
    cursor: pointer;
}

.btn :hover{
    background-color: #0E385F;
    color: #fff;
}

.login a{
    color: white;
    text-decoration: none;
}
.content-control{
    width:980px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.left{
    float:left;
    margin-top: 20px;
    width:400px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0E385F;
}
.left h3{
    margin-top: 10px;
    
}
.right{
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.ipt{
    width: 180px;
    height: 35px;
    margin-top: 30px;
    margin-left: 5px;
    border-radius: 3px;
    border: none;
    border: 1px solid #95A5A6;
    padding-left: 10px;
    font-size: 20px;

}
.ipt2{
    width: 360px;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 20px;
    border: none;
    border: 1px solid #95A5A6;
    margin-left: 5px;
    margin-top: 10px;

}
.dropdown{
    width: 70px;
    height: 30px;
}